.main{
   background-image:url(pic10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top;
    width: 100%;
    height: 100vh;   
}
.text2{
    position: absolute;
    top: 13%;
    right: 7%;
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
    font-family: cursive;
    word-spacing: -10px;
    letter-spacing: -1px;
    color: #000000;
    text-shadow: 3px 3px white;
}
.navbar{
    background-color: rgba(0, 0, 0);
    height: 90px;
    line-height: 85px;
}

.nav1{
    font-family: Comic Sans MS;
    font-size: 1.7rem;
    font-weight: bolder;
    color: ghostwhite;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.nav1:hover{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    transition: 0.8s all;
    text-shadow: 1px 1px ;
}
.nav-item{
    padding-left: 50px
}
.padding{
    padding-top: 85px;
}
.padding1{
    padding-top: 75px;
}
.img1{
    margin-top: -40px;
}
.welcome{
    padding-left: 190px;
    padding-right: 190px;
}
.font1{
    font-weight: bolder;
    font-family: cursive;
}
.font2{
    font-family: cursive;
    font-size: 18px;
}
.btn-primary {
 padding: 10px 20px;
    font-size: 1.1rem;
    text-transform:uppercase;
    position: relative;
    left: 65%;
}

.btn-primary:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
hr{
       margin-top: 66px;
    border-top: 3px solid rgba(168, 155, 155, 0.94);
    margin-left: 200px;
    margin-right: 200px;
}
.btn-danger {
 padding: 20px 30px;
    font-size: 1.5rem;
    text-transform:uppercase;
    font-family: arial;
    position: absolute;
    top: 276%;
    right: 5%;
    font-weight: 700;
    background-color: #dd0000;
}

.btn-danger:hover{
    box-shadow: 0 8px 16px 0 rgba(56, 43, 43, 0.85), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #ff0707;
}

.img2{
    position: absolute;
    
}
.text{
    position: relative;
    top: 120px;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
    margin-left: 200px;
    margin-right: 200px;
    text-shadow: 5px 5px black;
}

.icon{
    font-weight: bolder;
    padding-top: 10px;
    text-shadow: 1px 1px;
}
.icon1{
    font-size: 1.3rem;
    font-weight: 500;
}
footer{
    background-color: #3f3f3f;
    margin-top: 32.72%; 
}
.hor{
    margin-top: -15px;
    border-top: 3px solid rgba(255, 251, 251, 0.94);
    margin-left: 200px;
    margin-right: 200px;
}

.hor1{
    margin-top: 10px;
    margin-bottom: -5px;
    border-top: 3px solid rgba(255, 251, 251, 0.94);
    margin-left: 200px;
    margin-right: 200px;
}
.hor2{
    margin-top: 10px;
    margin-bottom: -5px;
    border-top: 3px solid rgba(255, 251, 251, 0.94);
    margin-left: 2px;
    margin-right: 2px;
}

.foottext{
    color: white;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 23px;
}
.foottext2{
    color: rgb(235, 127, 0);
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px whitesmoke;
    
}
.foottext3{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    font-size: 25px;
    padding-left: 50px;
}

.foottext3:hover{
    text-decoration: none;
    color: rgba(255, 255, 255);
}

.social a{
    font-size: 4.5em;
    padding: 0 8rem 0 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-youtube{
    color: #cc0000;
}
.fa-linkedin
{
    color: #0077B5;
}
.fa-facebook:hover{
    color: #001ae3;
}
.fa-twitter:hover{
    color: #001ae3;
}
.fa-linkedin:hover{
    color: #001ae3;
}
.fa-youtube:hover{
    color: #ff0000;
}
.fa-google-plus-g:hover{
    color: #ff0000;
}

