.navbar{
    background-color: rgba(0, 0, 0);
    height: 90px;
    line-height: 85px;
}

.nav1{
    font-family: Comic Sans MS;
    font-size: 1.7rem;
    font-weight: bolder;
    color: ghostwhite;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.nav1:hover{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    transition: 0.8s all;
    text-shadow: 1px 1px ;
}
.nav-item{
    padding-left: 50px
}