.navbar{
    background-color: rgba(0, 0, 0);
    height: 90px;
    line-height: 85px;
}

.nav1{
    font-family: Comic Sans MS;
    font-size: 1.7rem;
    font-weight: bolder;
    color: ghostwhite;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.nav1:hover{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    transition: 0.8s all;
    text-shadow: 1px 1px ;
}
.nav-item{
    padding-left: 50px
}
.block1{
    color: black;
    position: absolute;
    top: 17%;
}
.block2{
    color: black;
    position: absolute;
    top: 30%;
}
.btn-success{
    padding: 10px 60px;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0.5px 1px;
}
.btn-success:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #30984c;
}